<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016658555930-2v5ekjgamgb0gjao4efgdrctnhdtbnjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016658555930-2v5ekjgamgb0gjao4efgdrctnhdtbnjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016658555930-63ccmpgk8dheidjb6mmvjbq977dml846.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuszXTjze-nOuQT2Iaj2uDqHtXz1ze1R8</string>
	<key>GCM_SENDER_ID</key>
	<string>1016658555930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>events148.kapstr.app</string>
	<key>PROJECT_ID</key>
	<string>ic-event-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>ic-event-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016658555930:ios:6a2741199339e7b5aa8da3</string>
</dict>
</plist>